@import '../../App.scss';

.info-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  padding: 15px;
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    @media screen and (max-width: 992px) {
      height: 100px;
      width: 100px;
    }
  }
  p {
    border-bottom: 2px dashed $clr-light-blue;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-bottom: 4px;
  }
  * {
    text-align: center;
  }
}
