@import '../../App.scss';

.footer {
  .footer-content {
    flex-direction: row; // Organiza horizontalmente para telas maiores
    justify-content: center; // Centraliza o conteúdo no centro da tela
    gap: 20%; // Adiciona um espaço entre as colunas
    align-items: center; // Centraliza os itens horizontalmente
    row-gap: 10px;

    .atendimento {
      display: flex;
      flex-direction: column;
      align-items: center; // Centraliza horizontalmente
      justify-content: center;
      text-align: center; // Garante que o texto fique centralizado
    }
    .contato, .contato-text {
      display: flex; // Usamos flexbox para alinhar ícone e texto
      align-items: center; // Centraliza o ícone e o texto verticalmente
      gap: 10px; // Espaçamento entre o ícone e o texto
    }

    #logo {
      width: 200px;
    }

    .redes-sociais {
      display: flex; // Para exibir as redes sociais em linha
      gap: 10px; // Adiciona espaço entre os ícones
      justify-content: center; // Centraliza os ícones
      align-items: center; // Centraliza os ícones verticalmente
      margin-bottom: 30px;
    }

    @media screen and (max-width: 992px) {
      .contato, .contato-text {
        font: 15px;
        gap: 1px;
      }
  }

  @media screen and (max-width: 576px) {
    .contato, .contato-text {
      font: 15px;
      gap: 1px;
    }
  }

  }
}

