@import '../../App.scss';

.footer {
  .footer-content {
    display: flex;
    flex-direction: column; // Para dispositivos móveis (verticalmente)
    align-items: center; // Centraliza os itens horizontalmente

    row-gap: 20px;

    .footer-item {
      ul {
        li {
          margin: 0.7rem 0;
          opacity: 0.8;
          transition: $transition;

          &:hover {
            opacity: 1;
          }
        }
      }

      &:nth-child(4) {
        ul {
          li {
            span {
              &:first-child {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    // Estilos para telas maiores (notebooks e monitores)
    @media screen and (min-width: 768px) {
      flex-direction: row; // Organiza horizontalmente para telas maiores
      justify-content: center; // Centraliza o conteúdo no centro da tela
      gap: 20%; // Adiciona um espaço entre as colunas

      .footer-item {
        text-align: center; // Centraliza o texto em cada coluna
        ul {
          li {
            justify-content: center; // Centraliza cada item
          }
        }
      }
    }

    @media screen and (min-width: 992px) {
      gap: 20%; // Mais espaço para telas maiores
    }
  }
}
